body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 1.1vw;
}
nav ul li, footer ul li {
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    margin-right: 1.4vw;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #999;
}
a:hover {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
h1 {
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1::before {
    <!-- font-size: 3.25vw; -->
    <!-- content: '\265B' '\2656' '\265F\FE0E' '\2654' '\265E' '\2657'; -->
    <!-- float: left; -->
    content:'';
    background: url('./ChessPieces/blackCamel.png');
    height: 16px; /*height of image*/
    width: 33px;  /*width of image*/
}
h1::after {
    <!-- font-size: 3.25vw; -->
    <!-- content: '\2655' '\265C' '\2659' '\265A' '\2658' '\265D'; -->
    <!-- float: right; -->
    content:'';
    background: url('./ChessPieces/blackCamel.png');
    height: 16px; /*height of image*/
    width: 33px;  /*width of image*/
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4vw;
    line-height: 1.4em;
    color: #333;
}
footer {
    font-family: Arial, Helvetica, sans-serif;
    border-top: 1px solid #d5d5d5;
    font-size: 0.9vw;
}
